/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(116deg, #813da7, #5f44cc, #9c5ee4);
  background-size: 600% 600%;
  -webkit-animation: nice-gradient 30s ease infinite;
  animation: nice-gradient 30s ease infinite;
  -webkit-font-smoothing: antialiased;
  font-size: 14pt;
}
.fade {
  opacity: 50%;
  font-family: "Courier New", Courier, monospace;
}
.particles {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#content {
  width: 50vw;
  max-height: 250px;
  color: white;
  padding: 20px;
  text-align: center;
}
@-webkit-keyframes nice-gradient {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
@keyframes nice-gradient {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
