name: Deploy site to GitHub Pages

on:
  push:
    branches: 
      - master-source

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
    - run: npm install
    - run: npm run build --if-present
    - run: npm run test:e2e:ci
      env:
        CI: true
    - run: npm run deploy
      if: job.status !== "failure"
    
